.main_bg{
    background-image: url(https://images.pexels.com/photos/2512282/pexels-photo-2512282.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;  
}

.form_box{
    max-width: 600px;
    width: 100%;
    background-color: #000000bd;
    border: 1px solid #00000042;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
}

.input_wpr{
    width: 100%;
    max-width: 76%;
}
.select_wpr{
    width: 100%;
    max-width: 20%;

}

.transfer_arrow{
    width:50px;
    height:50px;
    display:flex;
    justify-content: center;
     align-items: center;
     color: #fff;
     cursor: pointer;
     background-color: #ff1313;
     transition: 0.3s;
    }
    .transfer_arrow:hover{
        background-color: #e20404;
    }